@model Auction.Data.Models.AdminIndexViewModel

@{
    ViewBag.Title = "Administrator dashboard";
}

<h2 class="w-100">
    <span>Default Values for the System</span>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary float-right" })
</h2>

<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-info alert-dismissible fade show">
        @ViewBag.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    ViewBag.Message = null;
}
<div>
    <dl class="row">
        <dt class="col-10 col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultValues.NumberOfAuctionsPerPage)
        </dt>

        <dd class="col-2 col-sm-1">
            @Html.DisplayFor(model => model.DefaultValues.NumberOfAuctionsPerPage)
        </dd>

        <dt class="col-10 col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultValues.AuctionDuration)
        </dt>

        <dd class="col-2 col-sm-1">
            @Html.DisplayFor(model => model.DefaultValues.AuctionDuration)
        </dd>

        <dt class="col-10 col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultValues.SilverTokenNumber)
        </dt>

        <dd class="col-2 col-sm-1">
            @Html.DisplayFor(model => model.DefaultValues.SilverTokenNumber)
        </dd>

        <dt class="col-10 col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultValues.GoldTokenNumber)
        </dt>

        <dd class="col-2 col-sm-1">
            @Html.DisplayFor(model => model.DefaultValues.GoldTokenNumber)
        </dd>

        <dt class="col-10 col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultValues.PlatinuTokenNumber)
        </dt>

        <dd class="col-2 col-sm-1">
            @Html.DisplayFor(model => model.DefaultValues.PlatinuTokenNumber)
        </dd>

        <dt class="col-10 col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultValues.TokenValue)
        </dt>

        <dd class="col-2 col-sm-1">
            @Html.DisplayFor(model => model.DefaultValues.TokenValue)
        </dd>

        <dt class="col-10 col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultValues.Currency)
        </dt>

        <dd class="col-2 col-sm-1">
            @Html.DisplayFor(model => model.DefaultValues.Currency)
        </dd>
    </dl>
</div>

<table class="table table-striped table-hover">
    <tr class="bg-primary text-center text-white">
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auctions.First().Name)
            @*@Html.DisplayNameFor(model => model.Auctions.Name)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auctions.First().Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auctions.First().StartPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auctions.First().CreatingTime)
        </th>
        <th>
            Action
        </th>
    </tr>

    @{ 
        var i = 1;
    }

    @foreach (var item in Model.Auctions)
    {
        <tr class="text-center">
            <td>
                @i
                @{ i++; }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatingTime)
            </td>
            <td>
                @using (Html.BeginForm("OpenAuction", "Admin"))
                {
                    @Html.AntiForgeryToken();
                    <input type = "hidden" value = @item.Id name="id" />
                    <input type = "submit" value = "Open Auction" class="btn btn-primary" />
                }
            </td>
        </tr>
    }

</table>



