@model X.PagedList.IPagedList<Auctions.Data.Models.IndexOrderViewModel>
@using X.PagedList.Mvc

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<hr />

@if (ViewBag.StatusMessage != "")
{
    <div class="alert alert-success">
        @ViewBag.StatusMessage
    </div>

}

@Html.ActionLink("Create new order", "Create", new { }, new { @class = "btn btn-primary mb-2" })

<table class="table table-striped">
    <tr class="bg-primary text-center text-white">
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NumberOfTokens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
        </th>
    </tr>

    @{
        var i = 1;
    }

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @i
                @{ i++; }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTokens)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }

</table>

<center>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</center>