@model IEnumerable<Auction.Data.Models.IndexOrderViewModel>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr class="bg-primary text-center text-white">
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfTokens)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
    </tr>

@{
    var i = 1;
}

@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @i
            @{ i++; }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfTokens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
