@model Auction.Data.Models.CreateOrderViewModel

@{
    ViewBag.Title = "Create order";
}

<h2>Create new order</h2>

<hr />

@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.Label("Silver")
            @Html.RadioButtonFor(model => model.Package, Auction.Data.Models.OrderPackage.SILVER) &nbsp;
            @Html.Label("Gold")
            @Html.RadioButtonFor(model => model.Package, Auction.Data.Models.OrderPackage.GOLD) &nbsp;
            @Html.Label("Platinum")
            @Html.RadioButtonFor(model => model.Package, Auction.Data.Models.OrderPackage.PLATINUM) &nbsp;
            @Html.ValidationMessageFor(model => model.Package, "", new { @class = "text-danger" })

            <br />
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        
    </div>

}

<div>
    @Html.ActionLink("Back", "Index")
</div>
