@model Auction.Data.Models.Bid

@{
    ViewBag.Title = "Bid";
}

<h2>Bid</h2>

<div>
    <h4>Bid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlacingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTokens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTokens)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
