@model Auctions.Data.Models.AuctionViewModel


<div class="col-lg-3 col-sm-6 mb-3">
    <div class="card">
        <h2 class="text-center text-primary card-header">
            @Html.ActionLink(Model.Name, "Details", new { id = Model.Id })
        </h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="height:300px">
                @{
                    var base64 = Convert.ToBase64String(Model.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img class="img-fluid img-auction under w-100" height="100" src="@imgSrc" />
                @if (Model.Status == Auctions.Data.Models.AuctionStatus.COMPLETED)
                {
                    <img class="img-fluid img-auction over w-100" src="~/Content/Images/soldout.png" />
                }
            </li>
            <li class="list-group-item text-center h5 time">
                @{
                    var duration = TimeSpan.FromSeconds(Model.Duration).ToString(@"hh\:mm\:ss");
                }
                @duration
            </li>
            <li class="list-group-item text-center h5">
                @Html.DisplayFor(model => model.CurrentPrice)
                @Html.DisplayFor(model => model.Currency)
            </li>
            <li class="list-group-item text-center h5">
                @if (Model.LastBidder == "")
                {
                    @:Be the first one to bid!
                }
                else
                {
                    @Html.DisplayFor(model => model.LastBidder)
                }
            </li>
        </ul>
        <div class="card-footer text-center">
            @if (Model.Status == Auctions.Data.Models.AuctionStatus.COMPLETED)
            {
                @Html.ActionLink("Sold", "", new { }, new { @class = "btn btn-danger disabled bg-danger" })
            }
            else
            {
                @Html.ActionLink("Bid", "", new { }, new { @class = "btn btn-primary" })
            }
        </div>
    </div>
</div>
